.bg {
  background-color: black;
}

.chain-details {
  border: 1px solid #ff8925;
  padding: 12px;
}

.key {
  font-weight: bold;
  color: rgb(39, 0, 125);
}

.connect-btn {
  background-color: rebecca#ff8925;
  color: white;
  height: auto;
}

.chain-logo {
  max-height: 50px;
  max-width: 80px;
}

.address {
  color: #ff8925;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold
}

.coins {
  color: #ff8925;
  font-weight: bold;
}

.tokens {
  color: #ff8925;
  font-weight: bold;
}

.btn {
  background-color: #ff8925 !important;
}

.primary {
  color: #ff8925 !important
}