.header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 18px;
  font-weight: bold;
  color: white;
  background-color: white;
}

.wallet-btn {
  background-color: white !important;
  font-size: 16px !important;
  padding-top: 4px;
  color: #0e0014 !important;
  height: 40px;
  max-width: 250px;
}

.wallet-icon {
  font-size: 24px;
  color: #ff8925;
}

.wallet-address {
  max-width: 190px;
  font-size: larger !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: black !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brand-name {
  font-weight: bold;
  color: #ff8925;
  cursor: pointer;
}
